@page
@model BookList_RazorPages_SPA.Pages.BookList.IndexModel
@{
}
<div class=" row">
	<div class=" col-9">
		<h2 class=" text-primary text-bg-danger ">Book List</h2>
	</div>
	<div class=" col-3">
		<a class=" btn btn-info " asp-page="Upsert">
			<i class=" fas fa-plus"></i> &nbsp; Add New Book
			</a>
	</div>
</div>
@if (Model.Books.Count() > 0)
{
	<div class="row container rounder-bordered p-2 m-2">
		<table class="table table-bordered table-striped table-hover table-active">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Description</th>
					<th>ISBN</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var book in Model.Books)
				{
					<tr>
						<td>@book.Title</td>
						<td>@book.Author</td>
						<td>@book.Description</td>
						<td>@book.ISBN</td>
						<td>@book.Price</td>
						<td>
    <a class="btn btn-info"
       asp-page="Upsert"
       asp-route-id="@book.Id">
        <i class="fas fa-edit"></i>
    </a>

    <form method="post"
          asp-page-handler="Delete"
          style="display:inline">
        <input type="hidden"
               name="id"
               value="@book.Id" />

        <button type="submit"
                class="btn btn-danger"
                onclick="return confirm('Want to Delete data ?')">
            <i class="fas fa-trash-alt"></i>
        </button>
    </form>
</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p class="text-danger">No Data Found</p>
}
<h2 class="text-danger text-center">OR</h2>
<div class="container rounded border p-2 m-2">
	<table id="tblData" class="table table-bordered table-striped table-active">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Description</th>
				<th>ISBN</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts {
	<script src="~/js/book.js"></script>
}