@page
@model BookList_RazorPages_SPA.Pages.BookList.IndexModel
@{
}
<div class=" row">
	<div class=" col-9">
		<h2 class=" text-primary text-bg-danger ">Book List</h2>
	</div>
	<div class=" col-3">
		<a class=" btn btn-primary " asp-page="Upsert">Add New Book</a>
	</div>
</div>
@if (Model.Books.Count() > 0)
{
	<div class="row container rounder-bordered p-2 m-2">
		<table class="table table-bordered table-striped table-hover table-active">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Description</th>
					<th>ISBN</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var book in Model.Books)
				{
					<tr>
						<td>@book.Title</td>
						<td>@book.Author</td>
						<td>@book.Description</td>
						<td>@book.ISBN</td>
						<td>@book.Price</td>
						<td>
							<a class="btn btn-sm btn-primary"
							   asp-page="Upsert" asp-route-id="@book.Id">Edit</a>
							<button type="submit"
									class="btn btn-danger"
									asp-page-handler="Delete"
									asp-route-id="@book.Id"
									onclick="return confirm('Want to delete data?')">
								Delete
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<p class="text-danger">No Data Found</p>
}